{% extends 'admin/base.html.twig' %}

{% set active_menu = 'properties' %}
{% set container_class = 'container-sm' %}

{% block title %}{{ 'Edit property'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('properties') }}
{% endblock %}

{% block content %}
    <h1>{{ 'Edit property'|trans }}</h1>
    {% include 'admin/properties/Blocks/form.html.twig' %}
{% endblock %}

{% block modal %}
    <div class="modal fade" id="confirm-delete-property-attachment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'Property attachment deletion'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'Are you sure you want to delete property attachment'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                    <button type="button" class="btn btn-primary btn-ok">{{ 'Yes confirm'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('properties') }}
{% endblock %}
